<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- seed entities for security. Note that cyclic relationships need to be set using saved entities
	(i.e. in the latter entity), otherwise it will fail -->
	<bean id="roleUser" class="org.trails.security.domain.Role" lazy-init="true">
		<property name="name" value="ROLE_USER"/>
		<property name="description" value="User role"/>
	</bean>

	<bean id="roleManager" class="org.trails.security.domain.Role" lazy-init="true">
		<property name="name" value="ROLE_MANAGER"/>
		<property name="description" value="Manager role"/>
	</bean>

	<bean id="user" class="org.trails.security.domain.User" lazy-init="true">
		<property name="username" value="user"/>
		<property name="password" value="user"/>
		<property name="confirmPassword" value="user"/>
		<property name="firstName" value="Foo"/>
		<property name="lastName" value="Bar"/>
		<property name="roles">
			<list>
				<ref bean="roleUser"/>
			</list>
		</property>
	</bean>

	<bean id="admin" class="org.trails.security.domain.User" lazy-init="true">
		<property name="username" value="admin"/>
		<property name="password" value="admin"/>
		<property name="confirmPassword" value="admin"/>
		<property name="firstName" value="Admin"/>
		<property name="lastName" value="Admin"/>
		<property name="roles">
			<list>
				<ref bean="roleUser"/>
				<ref bean="roleManager"/>
			</list>
		</property>
	</bean>
</beans>