<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="roleUser" class="sample.Role">
		<property name="name" value="ROLE_USER"/>
	</bean>

	<bean id="roleManager" class="sample.Role">
		<property name="name" value="ROLE_MANAGER"/>
	</bean>

	<bean id="user" class="sample.User">
		<property name="username" value="user"/>
		<property name="password" value="user"/>
		<property name="confirmPassword" value="user"/>
		<property name="firstName" value="Foo"/>
		<property name="lastName" value="Bar"/>
		<property name="roles">
			<list>
				<ref bean="roleUser"/>
			</list>
		</property>
	</bean>

	<bean id="admin" class="sample.User">
		<property name="username" value="admin"/>
		<property name="password" value="admin"/>
		<property name="confirmPassword" value="admin"/>
		<property name="firstName" value="Admin"/>
		<property name="lastName" value="Admin"/>
		<property name="roles">
			<list>
				<ref bean="roleUser"/>
				<ref bean="roleManager"/>
			</list>
		</property>
	</bean>
</beans>