@charset "utf-8";

.ComponentName, .LibraryName {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
}
a:link, a:visited, a:active {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000099;
	text-decoration: none;
}
a:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000099;
	text-decoration: underline;
}
.VisualSampleCell {
	background-color:#CCCCCC;
	padding:5px;
}
.Section {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.ParameterRequiredHeader {
	text-align: center;
	filter: FlipH() FlipV();
	writing-mode: tb-rl;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding:2px;
}
.ParameterOthersHeader {
	text-align: center;
	vertical-align: bottom;
	white-space:nowrap;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	padding:2px;
}
.ParameterDefaultHeader {
	text-align: center;
	vertical-align: bottom;
	white-space:nowrap;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #dddddd;
	padding:2px;
}
.ParameterDescriptionHeader {
	text-align: center;
	vertical-align: bottom;
	white-space:nowrap;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #dddddd;
	padding:2px;
}
.Text {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.ParameterCell {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:center;
	vertical-align:middle;
	padding:4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
}
.ParameterDescriptionCell {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:left;
	vertical-align:middle;
	padding:4px;
}
.LibraryComponentCell {
	padding:4px;
}
