<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tynamo Example - Simple" annotations="1.5" verbose="2">
	<test name="Tynamo Example - Simple - Test Suite">
		<packages>
			<package name="org.tynamo.examples.simple.integration"/>
			<package name="org.tynamo.examples.simple.functional"/>
		</packages>
	</test>
</suite>
