/* A CSS Framework by Mike Stenhouse of Content with Style */

/* - - - - - - - - - - - - - - - - - - - - - Title : Wufoo CSS Author : Infinity Box Inc. URL : http://wufoo.com Last Updated : June 11, 2007- - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - -FORM - ELEMENTS - - - - - - - - - - - - - - - - - - - */
/* From http://www.wufoo.com/css/global/dynamic.css */
form {
    font-size: .9em;
}

form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}

form li {
	margin: 0;
	padding: 4px 5px 2px 9px;
	position: relative;
}

form li:after, .buttons:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

form li, .buttons {
	display: inline-block;
}

* html form li, * html .buttons {
	height: 1%;
}

form li, .buttons {
	display: block;
}

form li div, form li span {
	margin: 0 4px 0 0;
	padding: 0 0 8px 0;
	color: #444;
}

form li span {
	float: left;
}

form li div.left {
	display: inline;
	float: left;
	width: 48%;
}

form li div.right {
	display: inline;
	float: right;
	width: 48%;
}

form li div.left .medium, form li div.right .medium {
	width: 100%;
}

.clear {
	clear: both;
}

form li div label, form li span label {
	margin: 0;
	padding-top: 3px;
	clear: both;
	font-size: 9px;
	line-height: 9px;
	color: #444;
	display: block;
}

form li .icon {
	float: left;
	margin: .1em 5px 0 0;
	padding: 0;
	width: 16px;
	height: 16px;
	cursor: pointer !important;
}

/* ----- INFO ----- */
.info {
	display: inline-block;
	clear: both;
	margin: 0 0 1em 0;
	border-bottom: 1px dotted #ccc;
}

.info[class] {
	display: block;
}

.info h2 {
	font-weight: normal;
	font-size: 160%;
	margin: 0 0 3px 0;
	clear: left;
}

.info p {
	font-size: 95%;
	line-height: 130%;
	margin: 0 0 12px 0;
}

/* ----- SECTIONS ----- */
form hr {
	display: none;
}

form li.section {
	border-top: 1px dotted #ccc;
	margin-top: 9px;
	padding-top: 13px;
	padding-bottom: 0px;
	width: 96% !important;
}

form ul li.first {
	border-top: none !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
}

form .section h3 {
	font-weight: normal;
	font-size: 110%;
	line-height: 130%;
	margin: 0 0 2px 0;
}

form .section p {
	font-size: 85%;
	margin: 0 0 10px 0;
}

/* ----- BUTTONS ----- */
input.btTxt {
	padding: 0 7px;
	width: auto;
	overflow: visible;
}

.buttons {
	clear: both;
	margin-top: 10px;
}

.buttons input {
	font-size: 120%;
	margin-right: 5px;
}

/* ----- FIELDS AND LABELS ----- */
label.desc {
	line-height: 150%;
	padding: 0 4px 1px 0;
	border: none;
	color: #222;
	display: block;
	font-size: 95%;
	font-weight: bold;
}

input.text, textarea.textarea, select.select {
	margin: 0;
	font-size: 100%;
	color: #333;
}

input.text, textarea.textarea, .firefox select.select {
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	background: #fff url( /images/fieldbg.gif ) repeat-x top;
}

input.text {
	padding: 2px 0 2px 0;
}

input.currency {
	text-align: right;
}

input.checkbox, input.radio {
	display: block;
	line-height: 1.4em;
	margin: 8px 0 0 3px;
	width: 13px;
	height: 13px;
}

label.choice {
	font-size: 100%;
	display: block;
	line-height: 1.4em;
	margin: -1.55em 0 0 25px;
	padding: 4px 0 5px 0;
	color: #444;
	width: 90%;
}

textarea.textarea {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

select.select {
	margin: 1px 0;
	padding: 1px 0 0 0;
}

select.select[class] {
	margin: 0;
	padding: 1px 0 1px 0;
}

*:first-child+html select.select[class] {
	margin: 1px 0;
}

.safari select.select {
	margin-bottom: 1px;
	font-size: 120% !important;
}

/* ----- SIZES ----- */
.third {
	width: 32% !important;
}

.half {
	width: 48% !important;
}

.full {
	width: 100% !important;
}

input.small, select.small {
	width: 25%;
}

input.medium, select.medium {
	width: 100%;
}

input.large, select.large, textarea.textarea {
	width: 100%;
}

textarea.small {
	height: 5.5em;
}

textarea.medium {
	height: 10em;
}

textarea.large {
	height: 20em;
}

/* ----- ERRORS ----- */
#errorLi {
	width: 97%;
	background: #fff;
	border: 1px dotted red;
	margin-bottom: 1em;
	text-align: center;
}

#errorMsgLbl {
	margin: 7px 0 5px 0;
	padding: 0;
	font-size: 125%;
	color: #DF0000;
}

#errorMsg {
	margin: 0 0 .8em 0;
	color: #000;
	font-size: 100%;
}

#errorMsg strong {
	background-color: #FFDFDF;
	padding: 2px 3px;
	color: red;
}

form li.error {
	background-color: #FFDFDF !important;
	border-bottom: 1px solid #EACBCC;
	border-right: 1px solid #EACBCC;
	margin: 3px 0;
}

form li.error label {
	color: #DF0000 !important;
}

form p.error {
	color: red;
	font-weight: bold;
	font-size: 10px;
	margin: 0 0 5px 0;
	clear: both;
}

/* ----- REQUIRED ----- */
form .req {
	float: none;
	color: red;
	font-weight: bold;
}

/* ----- INSTRUCTIONS ----- */
form li.focused {
	background-color: #fff7c0;
}

form .instruct {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1000;
	width: 42%;
	margin: 0 0 0 8px;
	padding: 8px 10px 9px 10px;
	border: 1px solid #e6e6e6;
	background: #f5f5f5;
	line-height: 130%;
	font-size: 80%;
	color: #444;
}

form .instruct small {
	font-size: 100%;
}

form li.focused .instruct, form li:hover .instruct {
	display: block;
}

.noI form li {
	width: 97% !important;
}

.noI .instruct {
	display: none !important;
}

/* ----- Password ----- */
ul.protected {
	list-style: none;
	margin: 60px 0;
}

.protected li {
	text-align: center;
	padding: 10px 0;
}

.protected h2 {
	font-weight: bold;
	color: #DF0000;
	margin: 0 auto 10px auto;
}

.protected label {
	font-size: 120% !important;
	padding-top: 10px;
	display: block;
}

.protected input.text {
	font-size: 170% !important;
	width: 380px;
	text-align: center;
}

.protected .buttons {
	margin: 0;
}

.protected #saveForm {
	font-size: 120% !important;
}