<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"><hibernate-configuration><session-factory><mapping class="org.demo.Recipe"/><mapping class="org.demo.Category"/><mapping class="org.demo.Ingredient"/><listener type="pre-update" class="org.trails.validation.TrailsValidatePreUpdateEventListener"/><listener type="merge" class="org.trails.validation.ValidateMergeEventListener"/><listener type="pre-insert" class="org.trails.validation.TrailsValidatePreInsertEventListener"/></session-factory></hibernate-configuration>