<span jwcid="$content$">
	<tr>
		<td>
			<span jwcid="@If" condition="ognl:not(page.isModelNew())">
			<span jwcid="@If" condition="ognl:association">
				<a jwcid="editLink@LinkSubmit" listener="listener:edit" parameters="ognl:association">
					<span jwcid="insert@Insert" value="ognl:association"/>
				</a>
			</span>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<div jwcid="@If" condition="ognl:association">
				<input jwcid="removeButton" type="button"
					   value="ognl:getMessage(@org.trails.component.Utils@REMOVE_MESSAGE)"/>
			</div>
			<div jwcid="@If" condition="ognl:not(page.isModelNew())">
				<div jwcid="@If" condition="ognl:not association">
					<input jwcid="addButton" type="button"
						   value="ognl:getMessage(@org.trails.component.Utils@ADD_NEW_MESSAGE)"/>
				</div>
			</div>
		</td>
	</tr>
</span>

