<span jwcid="$content$">

    <span jwcid="@TrailsDownload"
        descriptor="ognl:descriptor"
        model="ognl:model"
        bytes="ognl:model[descriptor.name]"
        />
    <span jwcid="@TrailsUpload" bytes="ognl:model[descriptor.name]"
        descriptor="ognl:descriptor"
        model="ognl:model"

        fileName="ognl:fileName"
        filePath="ognl:filePath"
        fileExtension="ognl:fileExtension"
        contentType="ognl:contentType"
        numBytes="ognl:numBytes"
        />
</span>