<span jwcid="$content$">
	<span jwcid="@If" condition="ognl:blobDescriptorExtension.renderType.image">
		<a jwcid="@ServiceLink" service="BlobService" parameters="ognl:byteArrayAsset">
			<img jwcid="@MimedImage"
				 propertyDescriptor="ognl:propertyDescriptor"
				 model="ognl:model"
				 image="ognl:byteArrayAsset"
				 bytes="ognl:model[propertyDescriptor.name]"
				 alt="ognl:byteArrayAsset.fileName"
				/>
		</a>

	</span>
	<span jwcid="@If" condition="ognl:blobDescriptorExtension.renderType.link">
		<a jwcid="@ServiceLink" service="BlobService"
		   parameters="ognl:byteArrayAsset">download</a>
	</span>
</span>