<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="article1" class="org.trails.compass.sample.library.Article" lazy-init="true">
		<property name="title" value="RAD That Ain't Bad: Domain-Driven Development with Trails"/>
		<property name="summary"
				  value="Trails is a framework designed to bring a radical productivity increase to J2EE web application development."/>
	</bean>

	<bean id="article2" class="org.trails.compass.sample.library.Article" lazy-init="true">
		<property name="title" value="Further Down the Trail"/>
		<property name="summary"
				  value="In this article you will learn how to customize a Trails application to override the assumptions Trails makes. You will also see how Trails also handles relationships more complex than a simple many-to-one. And finally, you'll explore how Trails supports validation by annotating your domain classes."/>
	</bean>

	<bean id="author1" class="org.trails.compass.sample.library.Author" lazy-init="true">
		<property name="name.title" value="Sr."/>
		<property name="name.firstName" value="Chris"/>
		<property name="name.lastName" value="Nelson"/>
	</bean>

	<bean id="book1" class="org.trails.compass.sample.library.Book" lazy-init="true">
		<property name="title" value="Expert One-on-One J2EE Development without EJB"/>
		<property name="summary"
				  value="Expert One-on-One J2EE Development without EJB shows Java developers and architects how to build robust J2EE applications without having to use Enterprise JavaBeans (EJB). This practical, code-intensive guide provides best practices for using simpler and more effective methods and tools, including JavaServer pages, servlets, and lightweight frameworks."/>
	</bean>

	<bean id="author2" class="org.trails.compass.sample.library.Author" lazy-init="true">
		<property name="name.title" value="Sr."/>
		<property name="name.firstName" value="Rod"/>
		<property name="name.lastName" value="Johnson"/>
		<property name="books">
			<set>
				<ref bean="book1"/>
			</set>
		</property>
	</bean>

</beans>