<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="${artifactId} Application Test Suite" annotations="1.5">
	<test name="${artifactId} Integration Tests">
		<packages>
			<package name="${package}.integration"/>
		</packages>
	</test>
    <test name="Unit Tests">
        <packages>
            <package name="${package}"/>
        </packages>
    </test>
</suite>
