.table {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #333333;
	width:100%;
}

th {
	background: url( thbg.jpg );
	padding: 5px 10px;
	font-size: 90%;
	text-transform: uppercase;
	color: #333;
	line-height: 5px !important;
	border-bottom: 2px solid #cccccc;
}

tbody td, tbody th {
	font-size: 85%;
	padding: 5px 10px;
}

tfoot td, tfoot th {
	border: none;
	padding-top: 10px;
}

table a:link {
	color: #369;
}

table a:visited {
	color: #036;
}

table a:hover {
	color: #000;
	text-decoration: none;
}

table a:active {
	color: #000;
}

.table th table, .table th table td {
	width: 100%;
	border: 0px;
}

.contribTable th {
	padding: 0px !important;
}

.contribTable th .tableHeaderTable {
	margin: 0px !important;
}

.table td, .table th, .tableHeaderTable td {
	padding: 0.5em;
}

.table thead th, .tableHeaderTable td {
	text-align: left;
	font-size: 1em;
	font-weight: bold;
}

.tableHeaderTable td a {
	text-decoration: none !important;
}

.table tfoot th, tfoot td {
	text-align: left;
	font-size: 1em;
}

.table tfoot th {
	font-weight: bold;
}

.table tbody td a {
	background: transparent;
	text-decoration: underline;
}

.table tbody td a:hover {
	background: transparent;
	text-decoration: underline;
}

.table tbody th a {
	background: transparent;
	text-decoration: underline;
	font-weight: bold;
}

.table tbody th, .table tbody td {
	text-align: left;
}

.table tfoot td {
	border: 1px solid #996;
}

.table tbody tr:hover, .table tr.over, .contribTable tr:hover {
	background: #ffffd9 !important; /* important needed for Tapestry, as is .table tr:hover */
}

.contribTable tr.even {
	background-color: #eee !important;
}

.contribTable tr.odd {
	background-color: #ddd !important;
}


TABLE.tapestry-palette TH
 {
   text-align: center;
 }

 TD.available-cell SELECT
 {
   font-weight: normal;
   background-color: #FFFFFF;
   width: 200px;
 }

 TD.selected-cell SELECT
 {
   font-weight: normal;
   background-color: #FFFFFF;
   width: 200px;
 }

 TABLE.tapestry-palette TD.controls
 {
   text-align: center;
   vertical-align: middle;
   width: 60px;
 }

.editCollection tbody td {
	font-size: 85%;
	padding: 0 10px;
}


table.calendarContainer td {
	margin: 0;
	padding: 0;
}

table.calendarContainer tr {
	font-size: 1.1em;
}

table.calendarBodyContainer tr {
	font-size: 1.3em;
}


div.calendar {
	width:340px;
	padding:0 !important;
}


div.calendarHeader tbody td, div.calendarHeader tbody th {
	margin: 0;
	padding:0;
}

div.calendarFooter * {
	margin: auto !important;
}

div.calendarFooter button {
	width:100%;
}

div.calendar th {
	background:none !important;
}

div.calendarBody * {
	padding:5px !important;
	margin: auto !important;
}
