/* This is the style for the informational messages presented to the user */

div.error, div.message {
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
}

div.error {
    border-color: #F0C000;
    background-color: #FFFFCE;
}

div.message {
    border-color: #3c78b5;
    background-color: #D8E4F1;
}

img.validationWarning, div.error img.icon, div.message img.icon, li.error img.icon {
    border: 0 !important;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
    background: transparent !important;
    /* important added because some themes define div#main img */
}

div.message a {
    background: transparent;
    color: #0000FF;
}

div.message a:visited {
    background: transparent;
    color: #0000FF;
}

div.message a:hover {
    background: transparent;
    color: #008000;
}

div.message a:active {
    text-decoration: underline overline;
}

div.message img.icon {
    vertical-align: middle;
}

span.fieldError {
    color: red;
    font-size: .95em;
    font-weight: bold;
}
