body {
	background-color: #fff;
	padding: 0px;
}

div#page {
	background: #ffffff;
	color: #303030;
	margin: 0 auto;
}

/* HEADER */

div#header {
	color: black;
	clear: both;
	padding: 0;
	height: 94px;
	margin: 5px 5px 5px 5px;
	background: #fff url( /logo-default.png) top left no-repeat;
}

div#switchLocale {
	position: absolute;
	right: 10px;
}

div#header h1 {
	margin: 0 10px 5px 5px;
	text-align:right;
	font-size: 30px;
}

div#header h2 {

}

div#header p {

}

div>div#header p {
	margin-right: 30px;
}

div#branding {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px 0 10px 20px;
	text-align: left;
}

/* END HEADER */

/* CONTENT */
div#content {
	/* layout-nav.css */
}

div>div#content {
	margin-left: 0px;
}

body#error #content {
	margin-top: 20px;
}

/* MAIN */
div#main {
	float: left;
	margin-top: 30px;
	min-height:350px;
	height:auto;
	display: inline;
	position:relative;
	width: 100%;
}

div#main_box {
	margin-left:190px;
	margin-right:202px;
}

div#main h1 {
	font-size: 21px;
	color: #333333;
}

div#main h2 {
	font-size: 17px;
	color: #333333;
}

/* END MAIN */

/* SUB */
div.sub {

}

/* END SUB */

/* END CONTENT */

/* FOOTER */
div#footer {
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
	color: #333333;
	font-size: x-small;
}

div#footer p {
	padding: 0;
	margin: 0;
	text-align: center;
}

div#footer a {

}

div#footer a:hover {

}

/* END FOOTER */

/* MISC LAYOUT CLASSES */
.left {
	margin: 10px 10px 5px 5px;
	float: left;
}

.right {
	margin: 10px 0 5px 10px;
	float: right;
}

.textright {
	text-align: right;
}

.center {
	text-align: center;
}

.small {
	font-size: 0.8em;
}

.bold {
	font-weight: bold;
}

.hide {
	display: none;
}

/* END MISC LAYOUT CLASSES */

/* END LAYOUT */