/* A CSS Framework by Mike Stenhouse of Content with Style */

/* TYPOGRAPHY */
body {
	font-family: Lucida Grande, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
}

div {
	font-size: 1em;
}

div#header a {
	color: black;
}

img {
	border: 0;
}

/* LINKS */
a, a:link a:active {
    text-decoration: none;
}

a:link {
    color: #47a;
}

a:visited {
    color: #666666;
}

a:active,a:hover {
    color: #990000;
}

a img {
	border: 0;
}

/* END LINKS */

/* HEADINGS */
h1 {
    font-size: 21px;
    color: #333333;
}

h2 {
    font-size: 17px;
    color: #333333;
}

/*
h3 {
    padding: 4px 4px 4px 24px;
    color: #333333;
    background-color: #efefef;
    border-bottom:1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
}
*/

h4 {
    border-bottom: 1px solid #aaaaaa;
    color: #49635a;
}

h5 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

h6 {
	font-size: 1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

/* END HEADINGS */

/* TEXT */
p {
    line-height: 1.3em;
    font-size: 12px;
    color: #000;
}

blockquote {
	border-left: 10px solid #ddd;
	margin-left: 10px;
}

pre {
	font-family: monospace;
	font-size: 12px;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

code {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	white-space: pre;
}

/* END TEXT */

/* LISTS */
ul {
	line-height: 1.4em;
	margin: 0 0 1.5em 0;
	padding: 0;
}

ul.glassList {
	list-style: url( aquadot.jpg ) disc outside;
	vertical-align: top;
	line-height: 1.5em;
}

ul li {
	margin: 0 0 0.25em 30px;
	padding: 0;
}

ol {
	font-size: 1.0em;
	line-height: 1.4em;
	margin: 0 0 1.5em 0;
	padding: 0;
}

ol li {
	font-size: 1.0em;
	margin: 0 0 0.25em 30px;
	padding: 0;
}

dl {
	margin: 0 0 1.5em 0;
	padding: 0;
	line-height: 1.4em;
}

dl dt {
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

dl dd {
	margin: 0 0 0 30px;
	padding: 0;
}

/* END LISTS */

hr {
	display: none;
}

div.hr {
	height: 1px;
	margin: 1.5em 10px;
	border-bottom: 1px dotted black;
}

/* MISC CLASSES */

div.announce {
	margin: 20px 0 10px 0;
	padding: 10px;
	width: 130px;
	color: #505050;
	background-color: #f4f4f4;
}

div.announce p {
	line-height: 1.2em;
	padding-bottom: 10px;
}

div.announce h3 {
	color: #505050;
}

/* END TYPOGRAPHY */