<TABLE cellSpacing="0" cellPadding="5" border="0">
	<TR dojoAttachPoint="navRow">
		<TD noWrap class="dojoNavButton" dojoAttachPoint="navFirst">
            <img src="${dojoRoot}/../../tacos/widget/templates/images/first-blue.gif" dojoAttachPoint="navFirstImg" alt="First" dojoAttachEvent="onClick: onFirst;">
		</TD>
		<TD noWrap class="dojoNavButton" dojoAttachPoint="navPrev">
            <img src="${dojoRoot}/../../tacos/widget/templates/images/prev-blue.gif" dojoAttachPoint="navPrevImg" alt="Previous" dojoAttachEvent="onClick: onPrev;">
		</TD>
		<TD noWrap dojoAttachPoint="navDisplay"></TD>
		<TD class="dojoNavButton" noWrap  ><SELECT dojoAttachPoint="navPageSelect" id="cmbPage" dojoAttachEvent="onchange: onPageChange;" ></SELECT></TD>
		<TD noWrap class="dojoNavButton" dojoAttachPoint="navNext">
			<img src="${dojoRoot}/../../tacos/widget/templates/images/next-blue.gif" dojoAttachPoint="navNextImg" alt="Next" dojoAttachEvent="onClick: onNext;">
		</TD>
		<TD noWrap class="dojoNavButton" dojoAttachPoint="navLast">
			<img src="${dojoRoot}/../../tacos/widget/templates/images/last-blue.gif" dojoAttachPoint="navLastImg" alt="Last" dojoAttachEvent="onClick: onLast;">
		</TD>
	</TR>
</TABLE>
