div.tacosSlider {
    border: 1px solid white;
    margin: 0px;
    padding: 0px;
    background-image: url(images/temp_sliderbar.gif);
    height: 5px;
    background-repeat: no-repeat;
}

div.tacosThumb {
    background-image: url(images/temp_sliderthumb.gif);
    top: -7px;
    left: 0px;
    width: 19px;
    height: 20px;
}
