<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tynamo CRUD Core" annotations="1.5" verbose="2">
	<test name="Tynamo CRUD Core Test Suite">
		<packages>
			<package name="org.tynamo.descriptor"/>
			<package name="org.tynamo.descriptor.annotation"/>
		</packages>
	</test>
</suite>
