<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<mapping class="org.trails.testhibernate.Embeddor"/>
		<mapping class="org.trails.testhibernate.Ancestor"/>
		<mapping class="org.trails.testhibernate.Foo"/>
		<mapping class="org.trails.testhibernate.Baz"/>
		<mapping class="org.trails.testhibernate.Descendant"/>
		<mapping class="org.trails.testhibernate.Bing"/>
		<mapping class="org.trails.testhibernate.Searchee"/>
		<mapping class="org.trails.testhibernate.BlogEntry"/>
		<mapping class="org.trails.testhibernate.Bar"/>
		<mapping class="org.trails.testhibernate.BarCollector"/>
		<mapping class="org.trails.testhibernate.Wibble"/>

	</session-factory>
</hibernate-configuration>