<span jwcid="$content$">
	<div jwcid="cannotAddFromExisting@If" condition="ognl:!addFromExisting">
		<table class="field editCollection">
			<tr>
				<td>
					<table jwcid="any@Any">
						<tr jwcid="foreach@For" source="ognl:collection" value="ognl:currentObject" index="ognl:index"
							renderTag="true">
							<td>
								<a href="#" jwcid="@EditLink" model="ognl:currentObject" collectionProperty="ognl:propertyDescriptor.name">
									<span jwcid="insert@Insert" value="ognl:currentObject"/>
								</a>
							</td>
							<td>
								<input jwcid="removeCheckbox@Checkbox" type="checkbox" value="ognl:#this.selected[index]"/>
							</td>
						</tr>
					</table>
					<!--table class="list" jwcid="@ObjectTable"
									instances="ognl:collection"
									classDescriptor="ognl:page.descriptorService.getClassDescriptor(propertyDescriptor.elementType)" /-->
				</td>

				<td jwcid="@If" condition="ognl:list" renderTag="true">
					<a jwcid="upLink@LinkSubmit" listener="listener:moveUp" disabled="ognl:page.modelNew">
						<img jwcid="@Image" image="ognl:assets.upImage" alt="Up"/>
					</a>
					<br/>
					<a jwcid="downLink@LinkSubmit" listener="listener:moveDown" disabled="ognl:page.modelNew">
						<img jwcid="@Image" image="ognl:assets.downImage" alt="Down"/>
					</a>
				</td>
			</tr>
		</table>
		<input jwcid="removeButton@Submit" type="button"
			   value="ognl:getMessage(@org.trails.component.Utils@REMOVE_MESSAGE)"
			   listener="listener:remove" disabled="ognl:page.modelNew"/>
	</div>
    <div jwcid="canAddFromExisting@If" condition="ognl:addFromExisting">
		<div jwcid="palette@contrib:Palette" tableClass="field tapestry-palette" model="ognl:selectionModel" selected="ognl:selectedList"
			 sort="ognl:sortMode"/>
	</div>
	<div jwcid="allowCreate@If" condition="ognl:allowCreate">
		<span type="button" jwcid="@TrailsLink"
		   classDescriptor="ognl:descriptorService.getClassDescriptor(propertyDescriptor.elementType)"
		   pageType="ognl:@org.trails.page.PageType@NEW" 
		   associationDescriptor="ognl:propertyDescriptor"
		   parent="ognl:model"
		   disabled="ognl:page.modelNew"
		   renderer="ognl:renderer"
		   name="ognl:getMessage(@org.trails.component.Utils@ADD_NEW_MESSAGE)">
		<span jwcid="@InsertI18N" bundleKey="org.trails.i18n.addNew" defaultMessage="[TRAILS][ORG.TRAILS.I18N.ADDNEW]"/>
		</span>
	</div>
</span>