/* This is the style for the informational messages presented to the user */

div.t-error, span.error, li.error, div.message {
	background-color: #ffffcc;
	border: 1px solid #000;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 10px auto;
/*	padding: 3px; */
	text-align: left;
	vertical-align: bottom;
}

div.t-error ul {
   background-color: #ffffcc;
}

/* use a different color for the errors */
div.t-error, div.error, span.error, li.error {
    border: 2px solid red;
}

label.error {
    font-weight: bold;
}

/* IE fix, followed by the rest of the world fix */
li.error {
    padding: 3px !important;
}

ul>li.error {
    padding: 0px !important;
}

div.message p, div.message p {
    margin-bottom: 0;
}

img.validationWarning, div.error img.icon, div.message img.icon, li.error img.icon {
    border: 0 !important;
    width: 14px;
    height: 13px;
    vertical-align: middle;
    margin-left: 3px;
    background: transparent !important;
    /* important added because some themes define div#main img */
}

div.message a {
    background: transparent;
    color: #0000FF;
}

div.message a:visited {
    background: transparent;
    color: #0000FF;
}

div.message a:hover {
    background: transparent;
    color: #008000;
}

div.message a:active {
    text-decoration: underline overline;
}

div.message img.icon {
    vertical-align: middle;
}

img.calIcon {
    vertical-align: middle;
    padding-bottom: 6px;
}

span.fieldError, .errorMessage {
    color: red;
    font-size: .95em;
    font-weight: bold;
    display: block;
}

dl.t-beandisplay {
    text-align: left !important;
    background:#FFFFDD none repeat scroll 0 0;
    border:1px solid #D7D7D7;
}

dl.t-beandisplay dt {
    margin-left: 15px;
    text-align:left;
}

div#successMessages {
	background-color: #DFFFDF;
	border: 2px solid #9FCF9F;
	color:#005F00;
	margin-bottom:12px;
	padding:4px 7px 4px 4px;
}

div.message img.message-icon {
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 3px;
	border: 0 !important;
    vertical-align: middle;
    background: transparent !important;
}