* {
    font-family: Lucida Grande, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

body {
    background-color: #fff;
    font-family: Lucida Grande, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat-y;
    font-size: 13px;
    padding: 0px;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #47a;
}

a:active, a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 17px;
    color: #333333;
}

h3 {
    padding: 4px 4px 4px 24px;
    color: #333333;
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    background-image: url( ../images/h3.jpg );
    background-repeat: no-repeat;
    background-position: left bottom;
}

h4 {
    border-bottom: 1px solid #aaaaaa;
    color: #49635a;
}

p {
    line-height: 1.3em;
    font-size: 12px;
    color: #000;
}

#uleft {
    margin: 10px 0 10px 0;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

#uleft h1 {
    font-size: smaller;
    border-bottom: 1px solid #aaaaaa;
    padding-top: 2px;
    padding-left: 9px;
    color: #49635a;
    background-image: url( ../images/h5.jpg );
    background-repeat: no-repeat;
    background-position: left bottom;
}

table.bodyTable th {
    color: white;
    background-color: #bbb;
    text-align: left;
    font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
    font-size: 11px;
}

table.bodyTable tr.a {
    background-color: #ddd;
}

table.bodyTable tr.b {
    background-color: #eee;
}

table {
    font-size: 10px;
}

#uleft ul {
    margin: 5px 0 15px -0em;
}

#uleft ul a {
    color: #333333;
}

#uleft ul a:hover {
    color: red;
}

#uleft, #uleft {
    background-color: #F8F8F8;
}

body ul {
    list-style-type: square;
}

body {
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
}

table {
    padding: 0px;
    width: 100%;
    margin-left: -2px;
    margin-right: -2px;
}

acronym {
    cursor: help;
    border-bottom: 1px dotted #feb;
}

table.bodyTable th, table.bodyTable td {
    padding: 2px 4px 2px 4px;
    vertical-align: top;
}

div.clear {
    clear: both;
    visibility: hidden;
}

div.clear hr {
    display: none;
}

#uleft {
    width: 170px;
    float: left;
    overflow: auto;
}

#bodyColumn {
    margin-right: 1.5em;
    margin-left: 197px;
}

#uleft {
    padding: 8px 4px 0 8px;
}

#uleft h1 {
    margin: 0;
    padding: 0;
    font-size: small;
}

#uleft ul {
    padding: 0;
    font-size: small;
}

#uleft li {
    list-style-type: none;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0 0.4em;
    padding-left: 16px;
    list-style-position: outside;
    line-height: 1.2em;
    font-size: smaller;
}

#uleft li.expanded {
    background-image: url( ../images/expanded.gif );
}

#uleft li.collapsed {
    background-image: url( ../images/collapsed.gif );
}

#uleft img {
    margin-top: 10px;
    margin-bottom: 3px;
}

table.infoMacro td, table.warningMacro td, table.tipMacro td, table.noteMacro td, table.sectionMacro td {
    border: none !important;
    padding-top: 15px !important;
    padding-left: 15px  !important;
}

.noteMacro {
    border-color: #F0C000;
    background-color: #FFFFCE;
}

.warningMacro {
    border-color: #c00;
    background-color: #fcc;
}

.infoMacro {
    border-color: #3c78b5;
    background-color: #D8E4F1;
}

.tipMacro {
    border-color: #090;
    background-color: #dfd;
}

.informationMacroPadding {
    padding: 5px 0 0 5px;
}

.warningMacro, .noteMacro, .infoMacro, .tipMacro {
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.warningMacro p, .noteMacro p, .infoMacro p, .tipMacro p {
    margin: 16px 0px 16px 0px !important;
    padding: 0px !important;
}

